type bat >/dev/null && alias cat=bat

if type delta >/dev/null 2>&1; then
  alias diff=delta
else
  alias diff='diff -u'
fi

if type lsd >/dev/null 2>&1 && ! test -z "${NERDFONT}"; then
  alias ls='lsd --group-directories-first'
else
  case $(uname) in
    Darwin)
      if type gls >/dev/null 2>&1; then
        alias ls='gls --color=auto --classify --group-directories-first --quoting-style=literal'
      else
        alias ls='ls --color=auto -F'
      fi
      ;;
    Linux)
      alias ls='ls --color=auto --classify --group-directories-first --quoting-style=literal'
      ;;
    MINGW* | MSYS_NT* | CYGWIN_NT*)
      alias ls='ls --color=auto --classify --group-directories-first --quoting-style=literal --show-control-chars'
      ;;
  esac
fi

test $(uname -s) = 'Darwin' && alias cp='cp -X'

alias fd='fd --follow --hidden'
alias gf='git flow'
alias l='ls -l'
alias la='ls -A'
alias ll='ls -Al'
alias sudo='sudo '
alias tm='if tmux list-session >/dev/null 2>&1; then tmux attach; else tmux; fi'
alias trans='trans -brief :ja'
