if type lsd >/dev/null 2>&1; then
    alias ls='lsd --group-directories-first'
else
    case $(uname) in
        Darwin)
            if type gls >/dev/null 2>&1; then
                alias ls='gls --color=auto --classify --group-directories-first --quoting-style=literal'
            else
                alias ls='ls --color=auto -F'
            fi
            ;;
        Linux)
            alias ls='ls --color=auto --classify --group-directories-first --quoting-style=literal'
            ;;
        MINGW* | MSYS_NT* | CYGWIN_NT*)
            alias ls='ls --color=auto --classify --group-directories-first --quoting-style=literal --show-control-chars'
            ;;
    esac
fi

alias G='gh dash'
alias L='lazygit'
alias bat='bat --style=plain --color=always'
alias fd='fd --follow --hidden'
alias g='git'
alias ga='git add'
alias gb='git branch'
alias gc='git checkout'
alias gci='git commit'
alias gd='git diff'
alias gf='git flow'
alias gl='git log'
alias gls='git ls-files'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gr='git reset'
alias grb='git rebase'
alias gs='git status'
alias gst='git stash'
alias gt='git tag'

alias la='ls -A'
alias ll='ls -Al'
alias rg='rg --follow --hidden'

test $(uname -s) = 'Darwin' && alias cp='cp -X'

# vim:ft=sh
