anthy/*
autostart/*
btop/*
coc/*
composer/*
dconf/*
gh/*
github-copilot/*
ibus-anthy/*
ibus/*
iterm2/*
libreoffice/*
mume/*
psysh/*
pulse/*
scoop/*
volumeicon/*
xfce4/*

openai.token
pavucontrol.ini
sealert.conf
user-dirs.*
