GIMP/*
anthy/*
autostart/*
btop/*
coc/*
composer/*
dconf/*
gh-copilot/*
gh-dash/*
gh/*
github-copilot/*
ibus-anthy/*
ibus/*
inkscape/*
iterm2/*
k9s/*
libreoffice/*
mume/*
psysh/*
pulse/*
scoop/*
vlc/*
volumeicon/*
xfce4/*

QtProject.conf
openai.token
pavucontrol.ini
sealert.conf
user-dirs.*
